@import url("fonts.css");

@import url("reset.css");


body {
	font-family: "Inter", sans-serif;
	font-size: 18px;
	color: #7D7D7D;
}

.wrapper{
	overflow: clip;
	min-height: 100%;
	padding: 0 10px;
}



.header {
	background-color: rgba(111, 69, 150, 0.325);
	padding: 15px;
	height: 70px;

}

.header--other {
	position: fixed;
	z-index: 99;
	width: 100%;
	top: 0;
	left: 0;
}


.header__container {
	max-width: 1250px;
	padding: 0 15px;
	margin: 0 auto;
	text-align: center;
}


.header__item {
	display: inline-block;
	width: 1220px;
	margin: 0 auto;

}
.header__list {
	display: inline-block;
	position: relative;
}

.header__list:not(:last-child){
	margin-right: 35px;
}


.header__link {
	padding: 10px;
	background-color: #06ef3595;
	color:#fff;
	border-radius: 10px;
	border: 1px solid red;
	box-shadow: inset 2px 2px 5px 2px rgb(21, 0, 255), inset -2px -2px 5px rgb(4, 0, 255);
}

.header__list:hover .header__link{
	background-color: #07a154;
	color: #05b6e8;
}

.header__list:hover .list__one-item{
	visibility: visible;
}

.list__one-item {
	position: absolute;
	visibility: hidden;
	left: 0;
	top: 100%;
	padding-top: 10px;
}

.list__one-list {
	display: inline-block;
	position: relative;
	background-color: #0a38f1a7;
	width: 130px;
}

.list__one-list:hover .list__two-list{
	visibility: visible;
}

.list__link {
	padding: 5px 10px;
	color: #fff;
}

.list__one-list:hover .list__link{
	border-radius: 10px;
	color: #500363;
	background-color: #4870ea;
}

.list__two-item {
	position: absolute;
	visibility: hidden;
	top: 0;
	left: 100%;
}
.list__two-list {
	display: inline-block;
	width: 130px;
}
.list__two-link {
	background-color: #500404;
	padding: 5px 10px;
	color: #fff;
}

.list__two-link:hover{
	text-decoration: underline;
	color: #0699e9;
	border-radius: 10px;
	background-color: #e209b7;
}

.content__container{
	max-width: 1200px;
	padding-top: 150px;
	margin: 0 auto;
}




.transform {
	padding: 15px;
	font-size: 0;
}

.transform--margin{
	margin-bottom: 100px;
}


.transform__block:not(:nth-child(n + 6)){
	margin-bottom: 30px;
}

.transform__block:not(:nth-child(4n + 5)){
	margin-right: 30px;
}

.transform__block {
	width: 200px;
	height: 200px;
	background-color: #351717;
	display: inline-block;
	font-size: 20px;
	perspective: 100px;
	perspective-origin: 100px 100px;
}

.transform__child {
	width: 100%;
	height: 100%;
	background-color: rebeccapurple;
}

.translate:hover .transform__child{
	transform: translate(10%, 10%);
}

.scale:hover .transform__child{
	transform: scale(0.9, 0.7);
}

.rotate:hover .transform__child{
	transform: rotate(20deg);
}

.skew:hover .transform__child{
	transform: skew(10deg, 30deg);
}

.multiple:hover .transform__child{
	transform: translate(15%, 10%) scale(0.7, 0.8) rotate(15deg) skew(5deg, 10deg);
}

.origin:hover .transform__child{
	transform-origin: -30% 10%;
	transform: rotate(20deg);
}

.translate3d:hover .transform__child{
	transform: translate3d(15%, 20%, -50px);
}

.scale3d:hover .transform__child{
	transform: scale3d(0.9, 1.1, 2);
}

.rotate3d:hover .transform__child{
	transform: rotate3d(-200, 0, 10, -30deg);
} 



.car{
	background: url("../img/raster-img/galaxy-stars.webp") center / contain no-repeat;
	width: 100%;
	height: 800px;
	position: relative;
}

.city{
	background: url("../img/raster-img/night-city.webp") center / contain repeat-x;
	position: absolute;
	left: 0;
	bottom: 300px;
	width: 100%;
	height: 300px;
}

.road{
	position: absolute;
	background: url("../img/raster-img/road.webp") center / contain repeat-x;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 300px;
}

.car__box{
	width: 700px;
	height: 350px;
	/* background-color: rebeccapurple; */
	position: absolute;
	left: 50%;
	margin-left: -350px;
	bottom: 50px;
}

.car__top{
	position: absolute;
	left: 70px;
	bottom: 50px;
	width: 400px;
	height: 250px;
	border-radius: 50%;
	background-color: rgb(66, 56, 65);
}

.car__botton{
	width: 100%;
	height: 150px;
	border-radius: 100px 150px 30px 15px;
	background-color: rgb(78, 12, 84);
	position: absolute;
	left: 0;
	bottom: 50px;
}

.car__window{
	display: inline-block;
	width: 300px;
	height: 100px;
	position: absolute;
	left: 120px;
	bottom: 180px;
	border-radius: 100px 100px 0 0;
	/* background-color: rgb(65, 33, 33); */
	z-index: 1;
}

.window__one{
	background-color: #c5e4ec;
	width: 140px;
	height: 100px;
	position: absolute;
	left: 0;
	top: 0;
	border-radius: 100% 0% 100% 0% / 100% 100% 0% 0%;
	box-shadow: 2px 2px 2px black, -2px -2px 2px black;
}

.window__two{
	background-color: #c3d9e0;
	width: 140px;
	height: 100px;
	position: absolute;
	right: 0;;
	top: 0;
	border-radius: 0% 100% 100% 0% / 100% 100% 0% 0%;
	box-shadow: 2px 2px 2px black, -2px -2px 2px black;
}

.wheels{

}

.wheel-one {
	width: 130px;
	height: 130px;
	border: 8px solid black;
	border-radius: 50%;
	background-color: #534040;
	background: url("../img/raster-img/wheel.webp") center / contain no-repeat;
	box-shadow: 0 -5px 5px 5px rgb(28, 44, 28);
	position: absolute;
	top: 60px;
	left: 50px;
}

.wheel-two {
	width: 130px;
	height: 130px;
	border: 8px solid black;
	border-radius: 50%;
	background-color: #fff;
	background: url("../img/raster-img/wheel.webp") center / contain no-repeat;
	box-shadow: 0 -5px 5px 5px rgb(28, 44, 28);
	position: absolute;
	top: 60px;
	right: 50px;
}

.light-front {
	width: 50px;
	height: 30px;
	background-color: #fff;
	position: absolute;
	right: 60px;
	top: 10px;
	border-radius: 0% 100% 100% 0% / 100% 100% 0% 0%;
}
.light-back {
	width: 30px;
	height: 50px;
	background-color: red;
	position: absolute;
	left: 30px;
	top: 10px;
	border-radius: 100% 0% 53% 47% / 38% 100% 0% 62%;
}