@import url("fonts.css");

@import url("reset.css");


body {
   font-family: "Inter", sans-serif;
   font-size: 18px;
   color: #7D7D7D;
}

.header {
   margin-bottom: 100px;
   padding: 0 15px;
}


.main-title{
   max-width: 700px;
   margin: 0 auto 50px;
   font-size: 60px;
   color: #5109cd;
   text-shadow: 3px 3px 2px;
   text-transform: uppercase;
}
.link{
   color: #40DDB6;
   font-size: 25px;
   display: inline-block;
}

.link:not(:last-child){
   margin-bottom: 10px;
   margin-right: 25px;
}

.link::before{
   content: "";
   display: inline-block;
   background-color: #6B77E5;
   width: 10px;
   height: 10px;
   border-radius: 50%;
   vertical-align: middle;
   margin-right: 15px;
}

.link:hover{
   color: #e90945;
}

.link:hover::before{
   background-color: #d70c0c;
}
.link:active{
   color: #000;
}
.link:visited{
   color: #5e0f96;
}
.link:focus{
   outline: 2px dotted rgb(168, 10, 231);
}

.business {
   max-width: 722px;
   margin: 0 auto 100px;
   padding: 0 15px;
}


.business-title {
   font-family: Poppins, sans-serif;
   color: #37393F;
   font-size: 30px;
   font-weight: 600;
   line-height: 1.27;
   margin-bottom: 3px;
   text-transform: capitalize;
}

.business-title-text {
   line-height: 1.46;
   margin-bottom: 42px;
}

.business-title-text p:not(:last-child){
   margin-bottom: 20px;
}



.sub-title {
   font-family: Poppins, sans-serif;
   font-size: 20px;
   font-weight: 600;
   line-height: 1.27;
   margin-bottom: 12px;
   color: #6B77E5;
}


.sub-title-text {
   line-height: 1.46;
   margin-bottom: 40px;
}
.sub-title-text p:not(:last-child){
   margin-bottom: 20px;
}


.benefits {
   max-width: 692px;
   margin-bottom: 50px;
   font-size: 0;
}
.benefits img{
   max-width: 331px;
   margin-right: 29px;
}


.benefits-content {
   display: inline-block;
   max-width: 332px;
   font-size: 18px;
}

.benefits-title {
   font-family: Poppins, sans-serif;
   font-size: 25px;
   font-weight: 600;
   line-height: 1.27;
   color: #37393F;
   margin-bottom: 15px;
}


.benefits-sub-title {
   font-family: Poppins, sans-serif;
   font-size: 20px;
   font-weight: 600;
   color: #40DDB6;
   line-height: 1.27;
   margin-bottom: 21px;
}

.benefits-list {
   line-height: 1.2;
   min-height: 27px;
   transition: 0.5s;
}

.benefits-list:hover{
   color: #6B77E5;
}

.benefits-list::before{
   content: "";
   display: inline-block;
   width: 27px;
   height: 27px;
   background: url("../img/check-mark.svg") 0 0 no-repeat;
   vertical-align: middle;
   margin-right: 8px;
   transition: 0.5s;
}

.benefits-list:hover:before{
   opacity: 0.8;
}

.benefits-list:not(:last-child){
   margin-bottom: 30px;
}


.question-title {
   font-family: Poppins, sans-serif;
   font-size: 30px;
   font-weight: 600;
   color: #37393F;
   line-height: 1.27;
   margin-bottom: 4px;
   text-transform: capitalize;
}

.question-text {
   line-height: 1.46;
}

.question-text > *:not(:last-child){
   margin-bottom: 15px;
}




.about {
   max-width: 703px;
   margin: 0 auto 100px;
   padding: 0 15px;
}
.about-sub-title {
   color: #37393F;
   font-weight: 500;
   text-transform: capitalize;
   margin-bottom: 16px;
   line-height: 1.2;
}

.about-sub-title::before{
   content: "";
   display: inline-block;
   width: 12px;
   height: 12px;
   margin-right: 6px;
   background: url("../img/square.png") 0 0 no-repeat;
   vertical-align: middle;
}

.about-title {
   font-family: Poppins, sans-serif;
   color: #37393F;
   font-size: 40px;
   font-weight: 700;
   line-height: 1.21;
   margin-bottom: 10px;
   text-transform: capitalize;
}
.about-text {
   line-height: 1.46;
   margin-bottom: 48px;
}
.about-text > *:not(:last-child){
   margin-bottom: 16px;
}



.about-main-list{
   margin-bottom: 48px;
}

.about-list {
   border: 1px solid#E3E3E3;
   padding: 28px 38px;
}

.about-list:not(:last-child){
   margin-bottom: 31px;
}

.about-list:hover{
   opacity: 0.8;
   color: #22cf0f;
}

.about-list-title {
   display: inline-block;
   color: #37393F;
   font-size: 20px;
   font-weight: 600;
   font-family: Poppins, sans-serif;
   margin-bottom: 12px;
   text-transform: capitalize;
   line-height: 1.5;
}
.about-list-title::before{
   content: "";
   width: 27px;
   height: 27px;
   display: inline-block;
   background: url("../img/check-mark.svg") 0 0 no-repeat;
   margin-right: 19px;
   vertical-align: middle;
}



.about-list-text {
   line-height: 1.46;
   display: inline-block;
   padding-left: 46px;
}

.about-list-text > *:not(:last-child){
   margin-bottom: 16px;
}



.about-button {
   display: inline-block;
   padding: 22px 35px;
   background-color: #6B77E5;
   color: white;
   text-transform: capitalize;
   font-weight: 600;
}
.about-button:hover{
   background-color: #19248a;
}




.work {
   max-width: 1250px;
   margin: 0 auto 100px;
   padding: 0 15px;
}


.work-head {
   margin: 0 auto;
   max-width: 313px;
   padding: 0 15px;
   margin-bottom: 41px;
}


.work-sub-title {
   color: #37393F;
   font-weight: 500;
   margin-bottom: 16px;
   text-align: center;
   text-transform: capitalize;
}

.work-sub-title::before{
   display: inline-block;
   content: "";
   width: 12px;
   height: 12px;
   background: url("../img/square.png") no-repeat;
   margin-right: 6px;
   vertical-align: middle;
}


.work-title {
   font-family: Poppins, sans-serif;
   font-weight: 700;
   line-height: 1.21;
   font-size: 40px;
   color: #37393F;
   text-transform: capitalize;
}


.work-content {
   background-color: #F4F4F4;
   padding: 58px 43px;
}

.work-conten-list {
   font-size: 0;
}

.content-list {
   font-size: 18px;
   display: inline-block;
   max-width: 386px;
   text-align: center;
}

.work-link:not(:last-child){
   margin-right: 31px;
}

.content-list-title {
   color: #37393F;
   font-size: 25px;
   font-weight: 600;
   line-height: 1.27;
   font-family: Poppins, sans-serif;
   margin-bottom: 16px;
}
.content-list-text {
   margin-bottom: 37px;
   line-height: 1.46;
}
.content-list-sub-title {
   font-weight: 600;
   color: #6B77E5;
}

.content-list:before{
   content: "";
   display: inline-block;
   width: 72px;
   height: 72px;
   margin-bottom: -38px;
}

.icon-one:before{
   background: url("../img/work-icon-one.png") no-repeat;
}

.icon-two::before{
   background: url("../img/work-icon-two.png") no-repeat;
}

.icon-three::before{
   background: url("../img/work-icon-three.png") no-repeat;
}

.work-link:hover{
   opacity: 0.7;
}



.jewels {
   max-width: 1244px;
   margin: 0 auto 100px;
   padding: 0 15px;
   font-family: "Cormorant Infant", sans-serif;
   font-weight: 700;
}


.jewels-title {
   display: inline-block;
   max-width: 480px;
   font-size: 60px;
   color: black;
   line-height: 1.15;
   padding-top: 150px;
   vertical-align: top;
}

.jewels-title::after{
   content: "";
   display: block;
   background: url("../img/line.png") 0 0 no-repeat;
   height: 3px;
   width: 80%;
}


.jewels-images {
   display: inline-block;
}


.jewels-img-one {
   display: inline-block;
   margin-bottom: 25px;
   padding-top: 41px;
   margin-right: 45px;
   vertical-align: top;
}

.img-block{
   border: 1px solid black;
   max-width: 334px;
   margin-bottom: 25px;
}

.jewels-img-one img{
   margin: 9px -10px -9px 10px;
   width: 100%;
}
.jewels-img-two img{
   margin: 9px -10px -9px 10px;
   width: 100%;
}

.jewels-one-text {
   font-size: 24px;
   color: black;
   line-height: 1.4;
}


.jewels-img-two {
   display: inline-block;
}


.jewels-two-title {
   color: black;
   font-size: 46px;
   font-weight: 700;
   max-width: 340px;
   margin-bottom: 31px;
}


.jewels-two-text {
   font-size: 24px;
   line-height: 1.4;
   color: black;
}




.jewels-link-products:hover{
   display: inline-block;
   padding: 5px;
   background-color: #0cef5c;
   color: #d70c0c;
   border-radius: 10px;
   box-shadow: inset -2px 2px 2px;
}




.footer{
   padding: 0 15px;
}



.target {
   max-width: 800px;
   margin: 0 auto 100px;
   padding: 0 15px;
}

.target-link {
   font-size: 20px;
   font-weight: 500;
   color: #d40f0f;

}



.target-div {
   max-width: 500px;
   min-height: 50px;
   visibility: hidden;
}
.green {
   background-color: #065406;
}
.blue {
   background-color: #3b0c86;
}
.yellow {
   background-color: #89f00c;
}



.target-div:target {
   visibility: visible;
}



.game {
   max-width: 1200px;
   min-height: 800px;
   padding: 0 15px;
   margin: 0 auto 100px;
   font-size: 0;
}
.backgraund{
   width: 500px;
   height: 500px; 
}   


.game-line {
   visibility: hidden;
}

.game-line-1 {
   width: 50px;
   height: 70px;
   background-color: #20e00b;
}


.game-line-1:hover + .game-line-2,
.game-line-2:hover{
   visibility: visible;
   background-color: #da0cde;
}

.game-line-2 {
   width: 100px;
   height: 40px;
   display: inline-block;
}

.game-line-3 {
   width: 750px;
   height: 40px;
   display: inline-block;
}

.game-line-2:hover + .game-line-3,
.game-line-3:hover{
   background-color: #da0cde;
   visibility: visible;
}

.game-line-2:hover ~ .game-line-5,
.game-line-4:hover{
   background-color: #da0cde;
   visibility: visible;
}

.game-line-3:hover + .game-line-4,
.game-line-4:hover{
   background-color: #da0cde;
   visibility: visible;
}

.game-line-4 {
   width: 40px;
   height: 300px;
   display: inline-block;
   vertical-align: top;
}

.game-line-4:hover ~ .game-line-8,
.game-line-5:hover{
   background-color: #da0cde;
   visibility: visible;
}

.game-line-4:hover + .game-line-5,
.game-line-5:hover{
   background-color: #da0cde;
   visibility: visible;
}

.game-line-5 {
   width: 890px;
   height: 40px;
}

.game-line-5:hover + .game-line-6,
.game-line-6:hover{
   background-color: #da0cde;
   visibility: visible;
}

.game-line-6 {
   height: 80px;
   width: 40px;
   display: inline-block;
}

.game-line-6:hover + .game-line-7,
.game-line-7:hover{
   background-color: #da0cde;
   visibility: visible;
}

.game-line-7 {
   height: 40px;
   width: 200px;
   display: inline-block;
}

.game-line-7:hover + .game-line-8,
.game-line-8:hover{
   background-color: #19248a;
   visibility: visible;
}

.game-line-8 {
   height: 40px;
   width: 40px;
   display: inline-block;
   background-color: #19248a;
}

.game-line-8:hover + .backgraund{
   background: url("../img/euphoria-one-img.jpg") center / cover no-repeat;
}
