@import "_reset.scss";
@import "_fonts.scss";

body {
	font-family: "Core Sans C", sans-serif;
}

body {
	.menu-open & {
		overflow: hidden;
	}
}

$headColor: #807d7e;
$otherTextColor: #3c4242;
$textColor: white;
$bgColor: #f6f6f6;
$hover: #8a33fd;

.wrapper {
	overflow: clip;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	> main {
		flex-grow: 1;
		margin-bottom: 100px;
	}
	.page {
		> :not(:last-child) {
			margin-bottom: 100px;
			@media (max-width: 550px) {
				margin-bottom: 35px;
			}
		}
	}
}

[class*="__container"] {
	max-width: 1270px;
	margin: 0 auto;
	padding-right: 15px;
	padding-left: 15px;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	padding: 0 5px;
	font-family: "Causten", sans-serif;
	color: $headColor;
	z-index: 99;
	// .header__container

	&__container {
		min-height: 100px;
		align-items: center;
		display: flex;
		justify-content: space-between;
		column-gap: 10px;
		@media (max-width: 991.98px) {
			min-height: 50px;
		}
	}
	// .header__logo

	&__logo {
		flex: 0 0 auto;
		position: relative;
		z-index: 6;
	}

	// .header__actions

	&__actions {
		position: relative;
		z-index: 5;
	}
}
.menu {
	// .menu__body

	&__body {
		@media (max-width: 991.98px) {
			position: fixed;
			top: 0;
			left: -100%;
			width: 100%;
			height: 100%;
			overflow: auto;
			padding: 90px 15px 30px 15px;
			z-index: 5;
			background-color: $bgColor;
			transition: left 0.3s linear;
			&::after {
				content: "";
				top: 0;
				left: -100%;
				width: 100%;
				height: 50px;
				position: fixed;
				background-color: $hover;
				overflow: auto;
				transition: left 0.3s linear;
			}
			.menu-open & {
				left: 0;
				&::after {
					left: 0;
				}
			}
		}
	}
	// .menu__list

	&__list {
		display: flex;
		flex-wrap: wrap;
		column-gap: 40px;
		row-gap: 10px;
		justify-content: center;
		@media (max-width: 991.98px) {
			flex-direction: column;
			align-items: flex-end;
			row-gap: 28px;
		}
	}

	&__active {
		color: #3c4242;
		font-weight: 700;
		font-size: 22px;
	}
	// .menu__link

	&__link {
		font-size: 22px;
		transition: all 0.3s linear;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
				color: $hover;
			}
		}
	}
}

.search {
	position: relative;
	// .search__block

	&__block {
		max-width: 270px;
		height: 44px;

		overflow: hidden;
		z-index: 9;
	}
	@media (max-width: 991.98px) {
		height: 35px;
	}
	&::before {
		content: "";
		position: absolute;
		top: 12px;
		left: 20px;
		width: 20px;
		height: 20px;
		background: url("../img/icons/search.svg") center / contain no-repeat;
		@media (max-width: 991.98px) {
			top: 8px;
		}
	}
}
input {
	width: 100%;
	height: 100%;
	height: 100%;
	padding: 8px;
	padding-left: 52px;
	background-color: $bgColor;
	border-radius: 8px !important;
	@media (max-width: 530px) {
		display: none;
	}
	&:focus {
		.search__block & {
			box-shadow: 0 0 3px 3px $hover;
		}
	}
	&:focus::placeholder {
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s linear;
	}
	::placeholder {
		color: $textColor;
	}
}

.actions-header {
	display: flex;
	gap: 12px;

	// .actions-header__link

	&__link {
		border-radius: 8px;
		background-color: $bgColor;
		transition: background-color 0.3s linear;
		@media (any-hover: hover) {
			&:hover {
				background-color: $hover;
			}
		}
	}
	img {
		padding: 12px;
		flex: 0 1 20px;
		aspect-ratio: 20 / 20;
		object-fit: cover;
		object-position: center;
		width: 100%;
		height: 100%;
		@media (max-width: 991.98px) {
			padding: 8px;
		}
	}
	// .actions-header__burger

	&__burger {
		display: none;
		@media (max-width: 991.98px) {
			align-self: center;
			display: block;
			width: 30px;
			flex: 0 0 30px;
			height: 18px;
			position: relative;
			z-index: 5;
			span,
			&::before,
			&::after {
				content: "";
				position: absolute;
				height: 2px;
				width: 100%;
				left: 0;
				transition: all 0.3s;
				background-color: #000;
			}
			&::before {
				top: 0;
			}
			span {
				top: 50%;
				margin-top: -1px;
			}
			&::after {
				bottom: 0;
			}
		}
		.menu-open & {
			&::before {
				transform: rotate(-45deg);
				top: 50%;
				margin-top: -1px;
			}
			span {
				transform: scale(0);
			}
			&::after {
				transform: rotate(45deg);
				bottom: 50%;
				margin-bottom: -1px;
			}
		}
	}
}

// ====================================================
.hero {
	display: flex;
	// flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	height: 100vh;
	width: 100vw;
	background: url("../img/raster-img/hero.webp") center 100px / cover no-repeat;
	// padding-top: 50px;
	@media (max-width: 991.98px) {
		background: url("../img/raster-img/hero.webp") center 50px / cover no-repeat;
	}
	@media (max-width: 550px) {
		background: url("../img/raster-img/hero.webp") right 50px / cover auto no-repeat;
	}
	// .hero__container
	&__container {
		flex-grow: 1;
	}
	// .hero__body

	&__body {
		// padding-left: 100px;
		// padding-top: 230px;
		// // margin-left: 100px;
		// // margin-top: 130px;
		max-width: 540px;
		color: $textColor;
		align-self: flex-start;
		// padding-top: 130px;
		> :not(:last-child) {
			margin-bottom: 40px;
		}
		@media (max-width: 991.98px) {
			padding-top: 100px;
			padding-left: 50px;
			padding-bottom: 20px;
			max-width: 440px;
		}
	}

	// .hero__label

	&__label {
		font-size: 32px;
		font-weight: 500;
		text-transform: capitalize;
		@media (max-width: 991.98px) {
			font-size: 25px;
		}
		@media (max-width: 550px) {
			font-size: 20px;
		}
	}

	// .hero__title

	&__title {
		font-size: 78px;
		font-weight: 800;
		@media (max-width: 991.98px) {
			font-size: 50px;
		}
		@media (max-width: 550px) {
			font-size: 30px;
		}
	}

	// .hero__link

	&__link {
		font-size: 24px;
		color: $otherTextColor;
		padding: 16px 72px;
		background-color: $textColor;
		border-radius: 8px;
		text-transform: capitalize;
		@media (max-width: 550px) {
			font-size: 20px;
			padding: 8px 30px;
		}
	}

	.left-button {
		position: absolute;
		width: 24px;
		height: 45px;
		background: url("../img/icons/arrov.svg") center / cover no-repeat;
		top: 50%;
		left: 40px;
		margin-top: -22.5px;
		transform: rotate(180deg);
	}
	.right-button {
		position: absolute;
		width: 24px;
		height: 45px;
		background: url("../img/icons/arrov.svg") center / cover no-repeat;
		top: 50%;
		right: 40px;
		margin-top: -22.5px;
	}
	&::after {
		content: "";
		width: 126px;
		height: 10px;
		position: absolute;
		bottom: 50px;
		left: 50%;
		background: url("../img/icons/carousel-indicators.svg") center / cover no-repeat;
		margin-left: -63px;
		border-radius: 12px;
	}
}

// ===============================================
.presentation {
	color: $textColor;
	// .presentation__container

	&__container {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
		column-gap: 30px;
		row-gap: 15px;
		@media (max-width: 1000px) {
			gap: 15px;
		}
		@media (max-width: 870px) {
			grid-template-columns: 1fr;
		}
	}

	// .presentation__items

	&__items {
		position: relative;
		border-radius: 12px;
		padding: 60px 0 60px 30px;
		box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
		overflow: clip;
		@media (max-width: 480px) {
			padding: 25px 15px;
		}
	}

	// .presentation__image

	&__image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		img {
			aspect-ratio: 605 / 356;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: top;
		}
	}

	// .presentation__content

	&__content {
		position: relative;
		max-width: 260px;
		min-height: 100%;
		display: flex;
		flex-direction: column;
		row-gap: 30px;
		align-items: flex-start;
		@media (max-width: 480px) {
			gap: 20px;
			max-width: 180px;
		}
	}

	// .presentation__body

	&__body {
		flex-grow: 1;
		@media (max-width: 480px) {
			> *:not(:last-child) {
				margin-bottom: 10px;
			}
		}
	}

	// .presentation__sub-title

	&__sub-title {
		font-size: 18px;
		font-family: "Montserrat", sans-serif;
		font-weight: 800;
		line-height: 1.67;
		margin-bottom: 24px;
		@media (max-width: 480px) {
			font-size: 16px;
		}
	}

	// .presentation__title

	&__title {
		font-size: 34px;
		font-weight: 800;
		line-height: 1.32;
		text-transform: capitalize;
		margin-bottom: 10px;
		@media (max-width: 1000px) {
			font-size: 25px;
		}
		@media (max-width: 480px) {
			font-size: 22px;
		}
	}

	// .presentation__text

	&__text {
		font-weight: 500;
		line-height: 1.56;
	}

	// .presentation__link

	&__link {
		font-size: 20px;
		font-weight: 800;
		text-decoration: underline;
		line-height: 1.5;
		transition: all 0.3s linear;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: none;
				color: aqua;
			}
			@media (max-width: 480px) {
				font-size: 16px;
			}
		}
	}
}

// ==================================================
.new {
	font-size: 20px;
	color: #3c4242;
	// .new__container

	&__container {
		position: relative;
	}

	// .new__title

	&__title {
		margin-bottom: 70px;
		@media (max-width: 991.98px) {
			margin-bottom: 25px;
		}
	}

	// .new__body

	&__body {
		padding: 0 35px;
		@media (max-width: 991.98px) {
			padding: 0;
		}
	}

	// .new__items

	&__items {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
		column-gap: 38px;
		row-gap: 25px;
		@media (max-width: 991.98px) {
			column-gap: 25px;
			row-gap: 20px;
		}
	}

	// .new__item

	&__item {
		@media (any-hover: hover) {
			&:hover .new__content {
				text-decoration: underline;
				color: #8a33fd;
			}
			&:hover .new__image img {
				transform: scale(1.1);
			}
		}
	}
	// .new__image

	&__image {
		margin-bottom: 32px;
		overflow: hidden;
		border-radius: 12px;
		@media (max-width: 991.98px) {
			margin-bottom: 10px;
		}
		img {
			overflow: hidden;
			width: 100%;
			height: 100%;
			aspect-ratio: 262 / 262;
			object-fit: contain;
			object-position: top;
			transition: transform 0.3s linear;
		}
	}

	// .new__content

	&__content {
		font-size: 20px;
		font-family: "Causten";
		font-weight: 700;
		transition: all 0.3s linear;
	}
	&__left-button {
		position: absolute;
		width: 14px;
		height: 12px;
		top: 50%;
		left: 0;
		margin-top: -6px;
		background: url("../img/icons/new-arrow.svg") center / cover no-repeat;
	}
	&__right-button {
		position: absolute;
		width: 14px;
		height: 12px;
		top: 50%;
		right: 0;
		margin-top: -6px;
		transform: rotate(180deg);
		background: url("../img/icons/new-arrow.svg") center / cover no-repeat;
	}
}

.title {
	position: relative;
	padding-left: 26px;
	font-weight: 600;
	font-size: 34px;
	text-transform: capitalize;
	&::before {
		content: "";
		width: 6px;
		height: 30px;
		background-color: #8a33fd;
		border-radius: 10px;
		position: absolute;
		left: 0;
		top: -2px;
	}
	@media (max-width: 550px) {
		font-size: 25px;
	}
}

// =====================================================
.saving {
	// .saving__title

	&__title {
		margin-bottom: 70px;
	}

	// .saving__items

	&__items {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		gap: 20px;
		@media (max-width: 1150px) {
			gap: 15px;
		}
		@media (max-width: 991.98px) {
			grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
		}
		@media (max-width: 550px) {
			grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		}
	}

	// .saving__item

	&__item {
		display: flex;
		position: relative;
		padding: 64px 20px;
		grid-column: span 2;
		justify-content: flex-end;
		@media (max-width: 550px) {
			padding: 10px;
		}
		&--start {
			justify-content: flex-start;
		}
		&--arrow {
			.body__link {
				border: 1px solid #3c4242;
			}
			.body__content {
				&::after {
					background: url("../img/icons/arrow-saving-black.svg") center / contain no-repeat;
				}
			}
		}
		// .saving__item--big
		&--big {
			grid-column: span 3;
			.body__link {
				border: 1px solid #3c4242;
			}
			.body__content {
				&::after {
					background: url("../img/icons/arrow-saving-black.svg") center / contain no-repeat;
				}
			}
			.saving__body {
				margin-right: 15%;
			}
			@media (max-width: 550px) {
				margin-right: 0;
			}
		}
		@media (any-hover: hover) {
			&:hover .body__content::after {
				animation: buy 0.5s ease-in infinite alternate;
			}
		}
		@media (max-width: 1150px) {
			padding: 50px 15px;
		}
		@media (max-width: 991.98px) {
			grid-column: span 1;
		}
	}

	// .saving__image

	&__image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 12px;
		overflow: clip;
		img {
			aspect-ratio: 400 / 393;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	// .saving__body

	&__body {
		font-family: "Causten", sans-serif;
		position: relative;
		display: inline-flex;
		flex-direction: column;
		justify-content: space-evenly;
		flex-grow: 1;
		row-gap: 35px;
		max-width: 160px;
		min-height: 100%;
	}
}

.body {
	&--white {
		color: $textColor;
	}
	// .body__content

	&__content {
		// display: grid;
		gap: 10px;
		position: relative;
		display: flex;
		flex-direction: column;
		&::after {
			content: "";
			width: 24px;
			height: 21px;
			background: url("../img/icons/arrow-saving.svg") center / contain no-repeat;
			align-self: center;
			margin-left: -40px;
			margin-top: 25px;
		}
	}

	// .body__title

	&__title {
		font-family: "Core Sans C", sans-serif;
		font-size: 28px;
		font-weight: 600;
		line-height: 1.37;
		text-transform: capitalize;
		@media (max-width: 991.98px) {
			font-size: 22px;
		}
		@media (max-width: 550px) {
			margin-bottom: 20px;
		}
	}

	// .body__text

	&__text {
		font-size: 14px;
		font-weight: 600;
		text-transform: capitalize;
	}

	// .body__sale

	&__sale {
		font-size: 18px;
		font-weight: 700;
		text-transform: uppercase;
	}

	// .body__link

	&__link {
		font-size: 12px;
		font-weight: 500;
		padding: 16px 25px;
		border: 1px solid white;
		border-radius: 4px;
		align-self: flex-start;
		text-transform: capitalize;
		transition:
			color 0.3s linear,
			border 0.3s linear 0.2s,
			background-color 0.3s linear;
		@media (any-hover: hover) {
			&:hover {
				color: rgb(209, 209, 234);
				border: 1px solid rgb(210, 53, 53);
				background-color: #4e4c4c;
			}
		}
	}
}
.link {
	background-color: #3c4242;
	border: 1px solid transparent;
}

@keyframes buy {
	0% {
		transform: translateY(0) rotateY(0deg);
	}
	100% {
		transform: translateY(15px) rotateY(360deg);
	}
}

// =======================================================

.made {
	// .made__container

	&__items {
		display: flex;
		flex-wrap: wrap;
		border-radius: 12px;
		overflow: hidden;
		@media (max-width: 700px) {
			flex-direction: column;
		}
	}

	// .made__item

	&__item {
		position: relative;
		min-height: 100%;
		flex: 0 0 50%;
		@media (max-width: 700px) {
			flex-basis: 100%;
		}
	}

	&__item-two {
		flex: 0 0 50%;
		min-height: 100%;
	}

	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		img {
			aspect-ratio: 626 / 640;
			object-fit: cover;
			object-position: center;
			width: 100%;
			height: 100%;
		}
	}

	&__image {
		width: 100%;
		height: 100%;
		img {
			aspect-ratio: 614 / 640;
			object-fit: cover;
			object-position: center;
			width: 100%;
			height: 100%;
		}
	}

	// .made__body

	&__body {
		padding: 160px 74px 170px 74px;
		position: relative;
		color: $textColor;
		// display: flex;
		// flex-direction: column;
		// max-width: 480px;
		@media (max-width: 1150px) {
			padding: 100px 50px;
		}
		@media (max-width: 991.98px) {
			> *:not(:last-child) {
				margin-bottom: 20px;
			}
			padding: 100px 30px;
		}
	}

	// .made__title

	&__title {
		margin-bottom: 30px;
		font-size: 34px;
		text-transform: capitalize;
		font-weight: 800;
		@media (max-width: 991.98px) {
			font-size: 25px;
			margin-bottom: 20px;
		}
		// color: $textColor;
	}

	// .made__text

	&__text {
		// color: $textColor;
		margin-bottom: 50px;
	}

	// .made__link

	&__link {
		color: #3c4242;
		font-size: 18px;
		font-family: Causten;
		font-weight: 600;
		padding: 12px 44px;
		background-color: $textColor;
		border-radius: 8px;
		transition: all 0.3s linear;
		@media (any-hover: hover) {
			&:hover {
				background-color: $hover;
				color: $bgColor;
			}
		}
	}
}
// ======================================================

.for-men {
	// .for-men__container

	&__title {
		margin-bottom: 70px;
		@media (max-width: 991.98px) {
			margin-bottom: 25px;
		}
	}
}

.cards {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	column-gap: 50px;
	row-gap: 50px;
	@media (max-width: 1180px) {
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	}
	@media (max-width: 991.98px) {
		gap: 25px;
	}
	// .cards__block

	&__block {
		display: flex;
		// flex-wrap: wrap;
		flex-direction: column;
		// flex-grow: 0;
		font-family: Causten, sans-serif;
		@media (any-hover: hover) {
			&:hover {
				.cards__arrow {
					animation: arrow 0.5s ease-in infinite alternate;
				}
			}
		}
	}

	@keyframes arrow {
		100% {
			transform: translateX(-100%);
		}
	}

	// .cards__img

	&__img {
		margin-bottom: 15px;
		border-radius: 10px;
		overflow: clip;
		margin-bottom: 14px;
		img {
			width: 100%;
			height: 100%;
			aspect-ratio: 270 / 393;
			object-fit: cover;
			object-position: center;
			transition: transform 0.4s linear;
			@media (any-hover: hover) {
				&:hover {
					transform: scale(1.05);
				}
			}
		}
	}

	// .cards__content

	&__content {
		display: flex;
		justify-content: space-between;
	}

	// .cards__text

	&__text {
		flex-grow: 0;
	}

	// .cards__title

	&__title {
		font-weight: 700;
		line-height: 1.5;
		color: #2a2f2f;
	}

	// .cards__description

	&__description {
		font-weight: 500;
		line-height: 2;
		color: #7f7f7f;
	}

	// .cards__arrow

	&__arrow {
		align-self: center;
		flex-basis: 20px;
		flex-shrink: 0;
		flex-grow: 0;
		height: 15px;
		width: 20px;
		background: url("../img/icons/arrow-two.svg") center / cover no-repeat;
		transition: transform 0.5s ease-in-out;
	}
}
.for-women {
	// .for-women__title

	&__title {
		margin-bottom: 70px;
		@media (max-width: 991.98px) {
			margin-bottom: 25px;
		}
	}
}

// =======================================================

.brands {
	color: $textColor;
	// .brands__container

	&__container {
		// display: flex;
		// align-items: center;
		// justify-content: center;
		text-align: center;
		background-color: $otherTextColor;
		border-radius: 12px;
		padding: 45px 0 60px 0;
	}

	&__header {
		& > :not(:last-child) {
			margin-bottom: 25px;
		}
		&:not(:last-child) {
			margin-bottom: 65px;
		}
		@media (max-width: 991.98px) {
			& > :not(:last-child) {
				margin-bottom: 15px;
			}
			&:not(:last-child) {
				margin-bottom: 35px;
			}
		}
	}

	// .brands__title

	&__title {
		font-size: 50px;
		font-weight: 800;
		text-transform: capitalize;
		@media (max-width: 991.98px) {
			font-size: 30px;
		}
	}

	// .brands__label

	&__label {
		font-size: 22px;
		font-family: "Causten", sans-serif;
		span {
			color: #fbd103;
		}
	}

	// .brands__block

	&__block {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 25px;
	}

	// .brands__img

	&__img {
		flex: 0 1 177px;
		max-width: 177px;
		height: 85px;
		padding: 12px;
		background-color: $textColor;
		border-radius: 12px;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			aspect-ratio: 150 / 53;
			object-position: center;
			object-fit: contain;
		}
	}
}

// ======================================================

.limelight {
	// .limelight__title

	&__title {
		margin-bottom: 70px;
		@media (max-width: 991.98px) {
			margin-bottom: 25px;
		}
	}
}

.cards {
	// .cards__block

	&__block--heart {
		position: relative;
	}

	// .cards__img

	// .cards__price

	&__price {
		font-weight: 700;
		font-size: 14px;
		align-self: center;
		padding: 12px 20px;
		background-color: $bgColor;
		border-radius: 8px;
	}
	&__button {
		z-index: 2;
		content: "";
		position: absolute;
		width: 32px;
		height: 32px;
		top: 25px;
		right: 20px;
		border-radius: 50%;
		// background-color: $textColor;
		background: $textColor url("../img/icons/limelight-heart.svg") center / 14px 12px no-repeat;
	}
}

// ======================================================

.feedback {
	// .feedback__title

	&__title {
		margin-bottom: 70px;
		color: $otherTextColor;
		@media (max-width: 991.98px) {
			margin-bottom: 25px;
		}
	}

	// .feedback__article
}

.article {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 23px;
	// .article__item

	&__item {
		border: 2px solid #bebcbd;
		border-radius: 10px;
		padding: 23px;
		& > :not(:last-child) {
			margin-bottom: 20px;
		}
	}

	// .article__top

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: start;
	}
	&__photo {
		flex: 0 0 58px;
		aspect-ratio: 58 / 58;
		object-fit: cover;
		object-position: center;
	}
	&__stars {
		flex: 0 0 130px;
		height: 23px;
		align-items: start;
		aspect-ratio: 23 / 23;
	}
	// .article__name

	&__name {
		font-size: 22px;
		font-weight: 500;
	}

	// .article__text

	&__text {
		font-size: 14px;
		color: $headColor;
		line-height: 1.5;
	}
}

// =======================================================
.footer {
	padding: 40px;
	background-color: rgba(13, 239, 239, 0.236);
	// .footer__title

	&__title {
		text-align: center;
		font-size: 40px;
		color: rgba(138, 51, 253, 1);
		text-shadow: 2px 2px 2px;
	}
}
